@import "https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css";
@import "_variables";
@import "_home";
@import "_allTasks";

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  background: #EDEDED;
  height: 100%;
  overflow: hidden;
}
